<!--<footer class="site-footer">-->

  <!--<div class="wrap">-->


  <!--</div>-->

<!--</footer>-->

<footer> <p class="text-center text-capitalize"><br/><br/>Copyright© {{ "now" | date: "%Y" }} Qu Pingzhe. All rights Reserved. <br/><br/></p> </footer>

<script>
$(function(){
    // 因上侧有固定导航栏，所以a标签跳转时需要偏移
    $("a[href^='#'][href!='#']").click(function(){
        var targetName = decodeURI($(this).attr("href"));
        var target = $(targetName);
        //alert(target.length);
        if (target.length == 1) {
            var top = target.offset().top-75;
            if(top != 0){
                $('html,body').animate({scrollTop:top}, 300);
            }
        }
    });

    // 上侧固定导航栏，鼠标悬空后，自动打开
    var $dropdownLi = $('li.dropdown');
    $dropdownLi.mouseover(function() {
        $(this).addClass('open');
    }).mouseout(function() {
        $(this).removeClass('open');
    });

    var new_width = $('.sidebar-outer').width();
    $('.sidebar').width(new_width + 15);

    var new_height = $(window).height();
    $('#info').height(new_height);

    var new_height = $("#overlay").height();
    new_height = new_height - (133 / 2.0);
    $("#overlay-fixed").css("padding-top", new_height + "px");
});

$(window).resize(function(){
    var new_width = $('#info-col').width();
    $('.sidebar').width(new_width + 15);

    var new_height = $(window).height();
    $('#info').height(new_height);

    /*
    var new_height = $("#overlay").css("padding-bottom");
    new_height = parseInt(new_height) - (133 / 2.0);
    */
    var new_height = $("#overlay").height();
    new_height = new_height - (133 / 2.0);
    $("#overlay-fixed").css("padding-top", new_height + "px");
});

</script>
