<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="{{ site.ASSETS }}/images/favicon.ico" />
    <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->

    <!-- bootstrap cdn -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{{ site.ASSETS }}/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.ASSETS }}/js/toc.js"></script>
    <script src="{{ site.ASSETS }}/js/my-main.js"></script>

    <link rel="stylesheet" href="{{ site.ASSETS }}/css/bootstrap-social.css" />

    <!-- 主题颜色-->
    <!--<link rel="stylesheet" href="{{ site.ASSETS }}/css/colors-dark.css" />-->
    <link rel="stylesheet" href="{{ site.ASSETS }}/css/colors-light.css" />
    <!--<link rel="stylesheet" href="{{ site.ASSETS }}/css/colorful.css" />-->

    <!-- 代码颜色-->
    <link rel="stylesheet" href="{{ site.ASSETS }}/css/solarized.dark.css" />
    <!--<link rel="stylesheet" href="{{ site.ASSETS }}/css/solarized.light.css" />-->


    <link rel="stylesheet" href="{{ site.ASSETS }}/css/my-main.css" />

</head>
