<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/index">Qpz</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    算法系列 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                {% for category in site.categories %}
                    {% if category.first == "introduction_to_algorithms" or
                        category.first == "algorithm" or
                        category.first == "leetcode" %}
                        <li><a href='/category.html?name={{category.first}}'>
                                {% include category.map category=category.first %}
                                &nbsp;&nbsp;
                                <span class="badge"> {{ category.last.size }} </span>
                        </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                   其他<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                {% for category in site.categories %}
                    {% if category.first == "introduction_to_algorithms" or
                        category.first == "algorithm" or
                        category.first == "leetcode" %}
                        {% continue %}
                    {% endif %}
                    <li><a href='/category.html?name={{category.first}}'>
                            {% include category.map category=category.first %}
                            &nbsp;&nbsp;
                            <span class="badge"> {{ category.last.size }} </span>
                    </a></li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
