<center>
<div id="info" class="panel">
    <div id="overlay" class="overlay"></div>
    <div id="overlay-fixed" class="overlay-fixed">
        <img class="img-responsiv img-circle img-thumbnail" src="{{ site.ASSETS }}/images/photo.png" />
    </div>
    <div class="panel-heading">
        <div class="row">
            <h3 class="page-header">隐藏在画中的落叶</h3>
        </div>
    </div>
    <div class="panel-body">
        <!--<br/>-->
        <div class="row">
            <div class="well well-lg" style="font-family: 颜真卿">
                去往天堂，路过人间
            </div>
        </div>
        <br/>
        <div class="row">
            <a style="text-decoration:none;" href="#" data-toggle="modal" data-target="#tagModal">标签检索</a>
        </div>
        <br/>
        <div class="row">
            <a href="/latest_posts.html">
                <span class="badge">{{ site.LATEST_SIZE }}</span>
                近期文章</a>
            /
            <a href="/all_posts.html">所有文章
                <span class="badge">{{ site.posts.size }}</span>
            </a>
        </div>
        <br/>
        <div class="row">
            <div style="float: none;display: inline-block;vertical-align: middle;">
                <ul class="social-network social-circle">
                    <li>
                        <a class="icoGithub" href="https://github.com/qupingzhe" title="GitHub">
                            <i class="fa fa-lg fa-2x fa-github"></i>
                        </a>
                        <a class="icoRss" href="/feed.xml" title="RSS">
                            <i class="fa fa-lg fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</center>

