<center>
<div id="info" class="card">
    <div id="overlay" class="overlay"></div>
    <div id="overlay-fixed" class="overlay-fixed">
        <img class="img-responsiv rounded-circle img-thumbnail" src="{{ site.ASSETS }}/images/photo.png" />
    </div>
    <div class="card-header bg-white">
        <h3 class="card-title">隐藏在画中的落叶</h3>
    </div>
    <div class="card-body pl-0 pr-0">
        <br/>
        <div class="row"><div class="col-sm-12 ml-0 mr-0">
            <div class="card bg-light" style="font-family: 颜真卿">
                <div class="card-body">
                    去往天堂，路过人间
                </div>
            </div>
        </div></div>
        <!--<br/>-->
        <div class="row"><div class="col-sm-12">
            <a style="text-decoration:none;" href="#" data-toggle="modal" data-target="#tagModal">标签检索</a>
        </div></div>
        <br/>
        <div class="row"><div class="col-sm-12">
            <a href="/latest_posts.html">
                <span class="badge badge-secondary badge-pill">{{ site.LATEST_SIZE }}</span>
                近期文章</a>
            /
            <a href="/all_posts.html">所有文章
                <span class="badge badge-secondary badge-pill">{{ site.posts.size }}</span>
            </a>
        </div></div>
        <br/>
        <div class="row"><div class="col-sm-12">
            <div style="float: none;display: inline-block;vertical-align: middle;">
                <ul class="social-network social-circle">
                    <li>
                        <a class="icoGithub" href="https://github.com/qupingzhe" title="GitHub">
                            <i class="fa fa-lg fa-2x fa-github"></i>
                        </a>
                        <a class="icoRss" href="/feed.xml" title="RSS">
                            <i class="fa fa-lg fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div></div>
    </div>
</div>
</center>

