---
layout: default
---

<div class="card">
    <div class="card-header">
        <h1>{{ page.title }}</h1>
        <h5>
        <small>Posted on {{ page.date | date: "%A %Y-%m-%d %H:%M" }} By <a href="{{site.url}}">{{ site.author }}</a></small>
        </h5>
    </div>
    <div class="card-body">
        <article>{{ content }}</article>
    </div>
    <div class="card-footer">
        <span class="fa fa-tags"></span>
        {% for tag in page.tags %}
            &nbsp;
            <!--<span class="tag-content">{{ tag }}</span>-->
            <span class="badge badge-warning text-white">{{ tag }}</span>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        上一篇：
        {% if page.previous == nil %}
            无
        {% else %}
            <a href='{{ page.previous.url }}'>{{ page.previous.title }}</a>
        {% endif %}
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        下一篇：
        {% if page.next == nil %}
            无
        {% else %}
            <a href='{{ page.next.url }}'>{{ page.next.title }}</a>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#pre-toc").show();
    $('#toc').toc();
});
</script>
